.header {
    height: 60px;
    align-items: center;
    padding-left:40px;
    font-size: 25px;
    display: flex;
    background-color: #1890FF;
}

.nav-logo-text {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}